/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --akana-bg: rgba(250, 254, 254, 1);
  --akana-green: rgba(21, 105, 99, 1);
  --gray-1: rgba(51, 51, 51, 1);
  --gray-2: rgba(79, 79, 79, 1);
  --gray-5: rgba(224, 224, 224, 1);
  --gray-6: rgba(242, 242, 242, 1);
  --kq-black: rgba(44, 21, 0, 1);
  --white: #fff;
}

/* Header styles */
header {
  display: flex;
  position: relative;
}

.top-line-links {
  position: absolute;
  display: flex;
  width: 91.25%;
  top: 60px;
  left: 4.375%;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.polygon {
  position: absolute;
  left: 0;
  cursor: pointer;
}

.p-letter {
  position: absolute;
  left: 14px;

  color: #fff;
  font-size: 12px;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  cursor: pointer;
}

.search,
.shopping-cart {
  cursor: pointer;
}

.sign-up-link {
  color: var(--akana-green, #156963);
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.sign-in-btn {
  color: #fff;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  line-height: 20px;

  background: var(--akana-green, #156963);
  padding: 8px 20px;
  border: none;
  cursor: pointer;
}

.plant-img {
  background-image: url("images/plant-in-a-vase.jpg");
  width: 47.5%;
  height: 740px;
  background-size: cover;
  background-position-y: 15%;
}

.header-text-content {
  margin: 186px auto 0 auto;
  position: relative;
}

header h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 68px;
  color: var(--akana-green, #156963);
  max-width: 524px;
}

.header-text-content p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 18px;
  color: var(--kq-black, #2c1500);
  max-width: 492px;
  margin-top: 24px;
}

.header-nav-btn {
  width: 25%;
  min-height: 160px;
  display: inline-block;
  position: absolute;
  bottom: 0;
}

.arrow-back {
  background-color: rgba(170, 170, 170, 1);
  -webkit-mask: url("/images/arrow-back-outline.svg") no-repeat center;
  mask: url("/images/arrow-back-outline.svg") no-repeat center;
  width: 32px;
  height: 32px;
}

.arrow-forward {
  background-color: rgba(170, 170, 170, 1);
  -webkit-mask: url("/images/arrow-forward-outline.svg") no-repeat center;
  mask: url("/images/arrow-forward-outline.svg") no-repeat center;
  width: 32px;
  height: 32px;
}

.header-nav-btn h3 {
  color: var(--akana-green, #156963);
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.go-back-btn {
  margin-left: 50%;
}

.go-back-btn h3 {
  margin: 14px 0 0 50px;
}

.go-forward-btn {
  margin-left: 75%;
  background: var(--akana-green, #156963);
}

.go-forward-btn h3 {
  margin: 14px 0 0 50px;
  color: var(--white, #fff);
}

.header-nav-btn span {
  color: rgba(170, 170, 170, 1);
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.arrow-nav {
  margin-top: 38px;
  display: flex;
  align-items: center;
  margin-left: 50px;
  gap: 8px;
}

.arrow-nav span,
.arrow-nav div {
  cursor: pointer;
}

/* Main Styles */
.features-container {
  display: flex;
  margin: 140px auto 0 auto;
  max-width: 92.65625%;

  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-evenly;
}

.features-container section {
  border: 1px solid var(--gray-5, #e0e0e0);
}

.icon-text-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 22px 0 0 16px;
}

.icon-text-wrapper h4 {
  display: inline-block;
  color: var(--akana-green, #156963);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 24px;
}

.features-container > section > p {
  margin: 16px 16px 20px 16px;
  color: var(--kq-black, #2c1500);
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 16px;
  max-width: 236px;
}

.featured-plants-wrapper {
  margin: 84px auto 0 auto;
  max-width: 92.65625%;
}

.plant-selection-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.plant-selection-header > h3 {
  color: #000;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.dropdown {
  color: #000;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.dropbtn img {
  padding-left: 5px;
}

.plant-selection-header .dropbtn {
  border: 1px solid var(--gray-5, #e0e0e0);
}

.plant-selection-header .dropbtn,
.plant-selection-header #dropdown-content p {
  background: var(--white, #fff);
  padding: 8px 12px;
  cursor: pointer;
  border-collapse: collapse;
}

.plant-selection-header #dropdown-content p:hover {
  background-color: var(--gray-5, rgba(224, 224, 224, 1));
}

.plant-selection-header #dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.featured-plants-wrapper hr {
  color: var(--gray-5, #e0e0e0);
}

.plants-imgs-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 24px 0 90px 0;
  flex-wrap: wrap;
  gap: 24px;
}

.featured-plant-img {
  min-width: 216px;
  width: 100%;
  min-height: 216px;
  background-color: rgba(245, 245, 245, 1);
  margin-bottom: 16px;
  background-repeat: no-repeat;
}

.kaktus-plant {
  background-image: url("/images/kaktus-plant.png");
  background-size: 330px;
  background-position: 50% 65%;
}

.landark-plant {
  background-image: url("/images/landark-plant.png");
  background-size: 216px;
  background-position: 50% 0%;
}

.kecubung-plant {
  background-image: url("/images/kecubung-plant.png");
  background-size: 216px;
  background-position: 50% 40%;
}

.kecubung-plant2 {
  background-image: url("/images/kecubung-plant2.png");
  background-size: 250px;
  background-position: 50% -300%;
}

.kecubung-plant3 {
  background-image: url("/images/kecubung-plant3.png");
  background-size: 350px;
  background-position: 50% -200%;
}

.plants-imgs-wrapper > section > h4 {
  color: #000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.plants-imgs-wrapper > section > p {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.buy-more-plants-section {
  max-width: 92.65625%;
  margin: 0 auto;
}

.buy-more-plants-section > h2 {
  color: var(--kq-black, #2c1500);
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  margin-left: 22px;
  padding-top: 10px;
}

.buy-more-plants-section > p {
  color: var(--kq-black, #2c1500);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
  margin-left: 22px;
  max-width: 506px;
}

.plant-with-a-mirror-img {
  max-width: 568px;
  min-height: 250px;
  background-image: url("/images/plant-with-a-mirror.jpg");
  background-size: cover;
  background-position: 0 -80px;
  background-repeat: no-repeat;
  margin-top: 74px;
}

.wall-of-plants-img {
  width: 513px;
  min-height: 610px;
  background-image: url("/images/wall-of-plants.jpg");
  background-size: cover;
  background-position: 0 100%;
  background-repeat: no-repeat;
  float: right;
  margin-left: 110px;
}

.get-your-plant-section {
  clear: both;
  margin: 80px auto;
  max-width: 92.65625%;
  min-height: 360px;
  background-color: #f3f4f6;
  background-image: url("/images/plant-in-a-hand.jpg");
  background-size: 400px;
  background-position: 95% 70%;
  background-repeat: no-repeat;
}

.get-your-plant-section > h2 {
  color: var(--kq-black, #2c1500);
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  padding: 88px 0 32px 98px;
  max-width: 580px;
}

.get-your-plant-section > button {
  padding: 10px 20px;
  border: 1px solid var(--akana-green, #156963);
  background: var(--akana-green, #156963);
  color: var(--akana-bg, #fafefe);
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  max-width: 152px;
  width: 100%;
  margin-left: 98px;
  cursor: pointer;
}

/* Footer Styles */

body > hr {
  width: 100%;
  color: var(--akana-green, #156963);
  opacity: 0.1;
  margin-bottom: 60px;
}

footer {
  width: 83.9%;
  margin: 0 auto 70px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.footer-sect {
  margin: 0 auto;
}

.footer-sect-1 > span {
  color: var(--akana-green, #156963);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1.2px;
}

footer h3,
.footer-sect-1 h3 {
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

footer p,
.footer-sect-4 input {
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 14px;
}

.footer-sect-1 h3 {
  color: var(--gray-1, #333);
  margin: 24px 0 10px 0;
}

.footer-sect-4 h3 {
  margin-bottom: 14px;
}

.footer-sect-1 p {
  max-width: 282px;
  color: var(--gray-2, #4f4f4f);
  font-family: "Work Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.footer-sect-4 {
  max-width: 234px;
  width: 100%;
}

.footer-sect-4 input {
  display: block;
  max-width: 234px;
  width: 100%;
  font-size: 12px;
  opacity: 0.5;
  padding: 8px 14px;
  border-radius: 2px;
  border: 1px solid var(--gray-5, #f2f2f2);
  margin-bottom: 14px;
}

.footer-sect-4 button {
  color: var(--white, #fff);
  font-family: "Raleway", sans-serif;
  font-size: 8px;
  font-weight: 500;
  line-height: 14px;

  border-radius: 2px;
  background: var(--akana-green, #156963);
  padding: 4px 12px;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .plant-img,
  .header-nav-btn {
    display: none;
  }

  .get-your-plant-section {
    background-position: 110% 70%;
  }

  .wall-of-plants-img {
    display: none;
  }

  .buy-more-plants-section > h2,
  .buy-more-plants-section > p {
    margin-left: 0;
  }

  .plant-with-a-mirror-img {
    margin-top: 36px;
  }
}

@media only screen and (max-width: 768px) {
  .get-your-plant-section {
    background-image: none;
  }
}
